<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
		Модуль взаимодействия с сервисом https://slack.com
			
			</br>     </br>

	
		</div> </div> </div>


<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#nach">Начало работы</a>
		</div>
		<div class="panel-body collapse" id="nach">
		<p>
1. Регистрируемся или авторизовываемся на https://slack.com</br> </br>
		</div> </div> </div>


		
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#cont">Контактная информация</a>
		</div>
		<div class="panel-body collapse" id="cont">
		<p>
<a href="https://github.com/directman66/majordomo-slack" target="_blank">Ссылка на репозиторий</a><br>
<a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5554" target="_blank">Тема на форуме</a>.<br>

<br></br>


		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#bax">Поддержать разработку</a>
		</div>
		<div class="panel-body collapse" id="bax">

[#inc rekv.html#]

		</div> </div> </div>

                                                                                                         
	
</div>


	
</div>

